<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Latest</title>

    <style>
        pre {
            width:600px;
            height:200px;
            font-size:10pt;
            border-style: double;
            }


    </style>

    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>

<tr th:each="wpis: ${informacyjki}">
    <span id="load_date" th:text="${wpis.date}"> ... </span>
    <pre id="code_snippet" >
    <code th:text="${wpis.code}">
    </code>

    </pre>
</tr>

</body>
</html>